@use "../globals/colors";
@use "../globals/gradients";
@use "../utils/screen";

$submit-gradient: gradients.$linear2;

$color-main: colors.$desaturated-red;
$color-hover: colors.$light-red;

$space-medium: 1rem;
$space-large: 1.65rem;

$space-medium-desktop: 1.2rem;
$space-large-desktop: 2.4rem;

.email-form {
    position: relative;
    display: flex;
    justify-content: center;

    input {
        padding-left: $space-large;
        line-height: 370%;
        border-radius: 50vmax;
        outline: none;
        width: 100%;
    }

    input[type=email] {
        background: none;
        border: 1px solid $color-main;
        opacity: 45%;

        &:focus {
            opacity: 100%;
        }
    }

    button {
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        padding: 0 $space-large;
        height: 100%;
        border: none;
        border-radius: 50vmax;
        outline: none;
        background: $submit-gradient;
        cursor: pointer;
        -webkit-box-shadow: 0px 14px 35px -6px $color-main;
        -moz-box-shadow: 0px 14px 35px -6px $color-main;
        box-shadow: 0px 14px 35px -6px $color-main;

        &:hover {
            background: none;
            background-color: $color-hover;
            -webkit-box-shadow: 0px 14px 28px -0px $color-main;
            -moz-box-shadow: 0px 14px 28px -0px $color-main;
            box-shadow: 0px 14px 28px -0px $color-main;
        }
    }
}