@use "../globals/colors";
@use "../globals/gradients";
@use "../utils/screen";

$submit-gradient: gradients.$linear2;

$color-main: colors.$desaturated-red;
$color-hover: colors.$light-red;
$color-error: colors.$soft-red;

$space-medium: 1rem;
$space-large: 1.65rem;

$button-width: 4rem;
$button-width-desktop: 6.5rem;
$error-width: 1rem;

.email-form {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: $space-large;



    input {
        padding-left: $space-large;
        padding-right: $button-width + $space-large;
        line-height: 3.5em;
        border-radius: 50vmax;
        outline: none;
        width: 100%;
        background: none;
        border: 1px solid $color-main;
        opacity: 45%;

        &:focus {
            opacity: 100%;
        }
    }

    button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        width: $button-width;
        height: 100%;
        border: none;
        border-radius: 50vmax;
        outline: none;
        background: $submit-gradient;
        cursor: pointer;
        -webkit-box-shadow: 0px 14px 35px -6px $color-main;
        -moz-box-shadow: 0px 14px 35px -6px $color-main;
        box-shadow: 0px 14px 35px -6px $color-main;

        &:hover {
            background: none;
            background-color: $color-hover;
            -webkit-box-shadow: 0px 14px 28px -0px $color-main;
            -moz-box-shadow: 0px 14px 28px -0px $color-main;
            box-shadow: 0px 14px 28px -0px $color-main;
        }
    }

    &::after {
        content: "Please provide a valid email";
        font-size: 0.8333rem;
        color: $color-error;
        position: absolute;
        left: $space-large;
        bottom: -1.7em;
        z-index: 100;
        display: none;
    }

    .error-icon {
        position: absolute;
        align-self: center;
        height: 1.4em;
        z-index: 100;
        right: $button-width + $space-medium;
        display: none;
    }

    &.error {
        input {
            border-color: $color-error;
            border-width: 2px;
            opacity: 100%;
        }

        &::after,
        .error-icon {
            display: unset;
        }
    }

    @include screen.respond-to("desktop") {
        input {
            padding-right: $button-width-desktop + $space-large;
        }

        button {
            width: $button-width-desktop;
        }

        .error-icon {
            right: $button-width-desktop + $space-medium;
        }
    }
}